.modalContainer{
    position:absolute;
    min-height: 100%;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.562);
}


.modal{
    background-color: aliceblue;
    max-width: 300px;
    max-height: 500px;
    margin: auto auto;
}